/* src/components/Navbar.css */
@import '../App.css'; /* Optional if using CSS Modules or global import in main.jsx */

/* Wraps all navbar content inside the bar */
.navbar-container {
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
