
/* Wraps all navbar content inside the bar */
.navbar-container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Keep Navbar on top and full-width */
.navbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  width: 100%;
  background-color: #121212;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  z-index: 2000;
}

/* Navbar brand */
.navbar-brand .brand {
  font-size: 1.5rem;
  color: #b8ff67;
  text-decoration: none;
}



/* Navbar links */
.navbar-links {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-links .nav-link {
  color: #ddd;
  text-decoration: none;
}

.navbar-links .nav-link:hover,
.navbar-links .nav-link.active {
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
}
